<ion-view view-title="Appointments" class="search-list">
  <ion-nav-buttons side="right">
    <!--<button class="button button-icon button-clear ion-ios-search"></button>-->
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true" padding="true">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="row bookmarks-container" ng-if="appointments.length==0">
      <div class="col col-center">
        <div class="empty-results">
          <i class="icon ion-ios-calendar-outline"></i>

          <h3 class="no-bookmarks">There's nothing here yet. Book an Appointment!</h3>
        </div>
      </div>
    </div>
    <!--<ion-list>-->
    <div ng-repeat="appointment in appointments track by $index">
        <ul class="table-view">
          <li class="table-view-cell media">
            <!--<div class="right-group">-->
            <!--<a class="icon icon-plus-rounded pull-left"></a>-->
            <!--<a class="icon icon-hearth pull-right"></a>-->
            <!--</div>-->
            <!--<img class="media-object pull-left" src="img/shop-list/interlocking_pencils.png">-->
            <div class="media-body">
              <h3 class="text-center">{{appointment.title}}</h3>

              <p>Status: {{appointment.status | uppercase}}</p>

              <p>Date: {{appointment.start.date}}</p>

              <p>Time: {{appointment.start.time}}</p>
            </div>
            <table class="media-foot">
              <tr>
                <td>
                  <button class="btn btn-default btn-block" ng-click="appointmentClicked($index)">
                    <span class="icon ion-ios-calendar-outline"></span> View
                  </button>
                </td>
                <td>
                  <button class="btn btn-default btn-block">
                    <span class="icon ion-close"> Cancel Appointment</span>
                  </button>
                </td>
                <!--<td>-->
                <!--<button class="btn btn-default btn-block">-->
                <!--<span class="icon icon-plus-rounded"></span> Save-->
                <!--</button>-->
                <!--</td>-->
              </tr>
            </table>
            <!--<div class="media-foot">-->
            <!--<div class="row">-->
            <!--<div class="col">-->
            <!-- -->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-primary" ng-click="appointmentClicked($index)">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="icon ion-ios-calendar-outline"></span> Re-Schedule&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-danger">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="icon ion-close"></span> Cancel&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--</div>-->
          </li>
        </ul>
    </div>
    <!--</ion-list>-->
    <ion-infinite-scroll
      immediate-check="false"
      on-infinite="loadMore()"
      icon="ion-loading-c"
      distance="1%"
      ng-if="moreDataCanBeLoaded()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
<script id="appointment-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{appointments[appointmentIndex].title}}</h1>
    </ion-header-bar>

    <ion-content>
      <h4>Description: {{service.description}}</h4>
      <h4>Duration: {{service.duration}}</h4>
      <h4>Price: {{service.price}}</h4>

      <h1>Current Appointment</h1>

      <p>Date: {{appointments[appointmentIndex].start.date}}</p>

      <p>Time: {{appointments[appointmentIndex].start.time}}</p>

      <p>Employee {{appointments[appointmentIndex].employee.name}}</p>

      <h3>Service Employees:</h3>

      <div ng-repeat="employee in service.employees">
        <h3>{{employee.name}}</h3>
      </div>
      <button class="btn btn-primary" ng-click="closeModal()">
        <span class="icon ion-ios-close"></span> Close
      </button>
    </ion-content>
  </ion-modal-view>
</script>
