<ion-view class="bookmarks-view">
    <ion-nav-title>
        <span>Appointments</span>
    </ion-nav-title>
    <ion-content>
        <div class="row bookmarks-container">
            <div class="col col-center">
                <div class="empty-results">
                    <i class="icon ion-ios-calendar-outline"></i>
                    <h3 class="no-bookmarks">There's nothing here yet. Book an Appointment!</h3>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
