<ion-view style="" view-title="Article List" hide-back-button="true" class="article-list">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="bar bar-standard bar-header-secondary">
			<h3>travel</h3>
		</div>
		
		<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
		<div class="content">
			<ul class="table-view">
				<li class="table-view-cell-full media">
					<div class="navigate-cell">
						<a class="navigate article-title">
							<div class="media-body">
								Plan Your Roadtrip like a Pro
								<p class="date">October 23, 2014</p>
							</div>
						</a>
					</div>
					<img class="article-image" src="img/articles-list/road_pic.png">
					<ul class="table-view no-border">
						<li class="table-view-cell-social media text-center">						
							<span class="badge badge-inverted">
								<span class="icon icon-hearth-small social-stat"></span> 89
							</span>
							<span class="badge badge-inverted">
								<span class="icon icon-share-left social-stat"></span> 234
							</span>
							<span class="badge badge-inverted">
								<span class="icon icon-chat-text social-stat"></span> 26
							</span>
						</li>
					</ul>
				</li>
				<li class="table-view-cell-full media">
					<div class="navigate-cell">
						<a class="navigate article-title">
							<div class="media-body">
								Hidden Gem Westcoast Wineries
								<p class="date">October 23, 2014</p>
							</div>
						</a>
					</div>
					<img class="article-image" src="img/articles-list/grapes_pic.png">
					<ul class="table-view no-border">
						<li class="table-view-cell-social media text-center">
							<span class="badge badge-inverted">
								<span class="icon icon-hearth-small social-stat"></span> 58
							</span>
							<span class="badge badge-inverted">
								<span class="icon icon-share-left social-stat"></span> 327
							</span>
							<span class="badge badge-inverted">
								<span class="icon icon-chat-small social-stat"></span> 54
							</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="menu-popover" class="popover">
			<ul class="table-view">
				<li class="table-view-cell">Menu 1</li>
				<li class="table-view-cell">Menu 2</li>
				<li class="table-view-cell">Menu 3</li>
				<li class="table-view-cell">Menu 4</li>
			</ul>
		</div>
	
    </ion-content>
</ion-view>
