<ion-view style="" view-title="" hide-back-button="true" class="sign-in">

    <ion-content class="has-header" overflow-scroll="true" padding="true">

		<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->

      <!--- Sign In  --->
		<div class="content">
			<div class="wrapper">
				<div class="logo">
					<img class="logo-img" src="img/booked-2.png" alt="UI Deck Logo" />
				</div>
				<div class="card">
          <form class="input-group sign-in-form" ng-if="state == 'signIn'">
						<input type="text" class="icon-username" ng-model="user.username" name="email" placeholder="email">
						<input type="password" class="icon-password" ng-model="user.password" name="password" placeholder="password">
            <button class="btn btn-block" ng-click="doLogIn(user)">
              <span ng-if="!authSpinner">sign in</span>
              <ion-spinner ng-if="authSpinner" icon="spiral"></ion-spinner>
            </button>
            <a ng-click="switchState('createAccount')" href="">Create an Account</a> | <a
            ng-click="switchState('lostPass')" href="">Lost
            Password?</a>
					</form>
          <form class="input-group sign-in-form" ng-if="state == 'createAccount'">
            <input type="text" class="icon-username" ng-model="user.firstName" name="regFirstName"
                   placeholder="First Name">
            <input type="text" class="icon-username" ng-model="user.lastName" name="regLastName"
                   placeholder="Last Name">
            <input type="text" class="icon-username" ng-model="user.username" name="regEmail" placeholder="email">
            <input type="password" class="icon-password" ng-model="user.password" name="regPassword"
                   placeholder="password">
            <button class="btn btn-block" ng-click="register(user)">
              <span ng-if="!authSpinner">sign up</span>
              <ion-spinner ng-if="authSpinner" icon="spiral"></ion-spinner>
            </button>
            <a ng-click="switchState('signIn')" href="">Login</a> | <a ng-click="switchState('lostPass')" href="">Lost
            Password?</a>
          </form>
          <form class="input-group sign-in-form" ng-if="state =='lostPass'">
            <p>Enter your email address below and we'll send you a link to reset your password.</p>
            <input ng-model="email" class="form-control ion-email" required type="email" id="lostEmail"
                   placeholder="Email"/>
            <button type="submit" class="btn btn-block"
                    ng-click="emailForm.$valid && reset()">
              Reset Password
            </button>
            <div class="row" ng-show="emailSent">
              <div class="col-xs-12">
                <p class="email-success">An email is on its way to you. Follow the instructions to reset
                  your password.</p>
              </div>
            </div>
            <a ng-click="switchState('signIn')" href="">Login</a> | <a ng-click="switchState('createAccount')" href="">Create
            An
            Account</a>
          </form>
				</div>
			</div>
      <nav class="bar bar-tab bar-footer bar-transparent hide-on-keyboard-open" ng-hide="state == 'lostPass'">
        <div class="table-row-group">
          <div class="table-row">
            <div class="table-cell text-center">
              <small>
                <strong>SIGN IN WITH</strong>
              </small>
            </div>
          </div>
          <div class="table-row">
            <div class="table-cell text-center">
              <a class="icon-facebook" ng-click="facebookLogin()">facebook</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    </ion-content>
</ion-view>
