<ion-view style="" view-title="Chat" hide-back-button="true" class="chat">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="bar bar-header-secondary bar-block">
			<button class="btn btn-block">
				<a class="icon icon-synch">
					<span>Load Earlier Messages</span>
				</a>
			</button>
		</div>
		<div class="bar bar-standard bar-footer">
			<form class="input-group">
				<div class="input-row">
					<input type="text" name="new-item" class="pull-left" placeholder="type message">
				</div>	
				<button type="button" name="btn-add" class="btn pull-right" style="position: absolute; right: 0;">
					<span class="icon icon-right-tight-arrow"></span>
				</button>
			</form>
		</div>
		<div class="content">
			<ul class="table-view">
				<li class="table-view-cell media own-box">
					<img class="media-object pull-left" src="img/chat/jj_profile_pic.png">
					<div class="media-body">
						<div class="time-name">
							<span class="own-name">J.J.Anders</span>
							<span class="chat-time pull-right">3 minutes ago</span>
						</div>
						<p>
							Have you seem my shoes? <br/>
							I can't find my hat either ...
						</p>
					</div>
				</li>
				<li class="table-view-cell media guest-box">
					<img class="media-object pull-left" src="img/chat/gwen_profile_pic.png">
					<div class="media-body">
						<div class="time-name">
							<span class="guest-name">Gwen</span>
							<span class="chat-time pull-right">2 minutes ago</span>
						</div>
						<p>
							Must I find everything for you?
						</p>
					</div>
				</li>
				<li class="table-view-cell media own-box">
					<img class="media-object pull-left" src="img/chat/jj_profile_pic.png">
					<div class="media-body">
						<div class="time-name">
							<span class="own-name">J.J.Anders</span>
							<span class="chat-time pull-right">2 minutes ago</span>
						</div>
						<p>
							Now I can't find my wallet.<br/>
							What is going on???
						</p>
					</div>
				</li>
				<li class="table-view-cell media guest-box">
					<img class="media-object pull-left" src="img/chat/gwen_profile_pic.png">
					<div class="media-body">
						<div class="time-name">
							<span class="guest-name">Gwen</span>
							<span class="chat-time pull-right">2 minutes ago</span>
						</div>
						<p>
							JJ, I grow tired of your antics Hang on...
						</p>
					</div>
					<div class="media-body">
						<div class="time-name">
							<span class="chat-time pull-right">36 seconds ago</span>
						</div>
						<p>
							Oh wait... I am wearing your shoes! And your hat is in my purse. I am also driving your car.<br/>
							What is going on???
						</p>
					</div>
				</li>
			</ul>
		</div>
		
    </ion-content>
</ion-view>
