<ion-view style="" view-title="Contact List" hide-back-button="true" class="contact-list">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="content">
			<ul class="table-view">
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/jj_profile_pic_small.png">
					<div class="media-body">
						<h4>J.J.Anders</h4>
						<p>Acme Software Co.</p>
						<p>Cleveland, OH</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/kiera_profile_pic_small.png">
					<div class="media-body">
						<h4>Kiera Richards</h4>
						<p>Babysitter</p>
						<p>Chicago, IL</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/theresa_profile_pic_small.png">
					<div class="media-body">
						<h4>Theresa Douglas</h4>
						<p>TD Consulting</p>
						<p>Los Angeles, CA</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/justin_profile_pic_small.png">
					<div class="media-body">
						<h4>Justin Shaw</h4>
						<p>Graphic Designer</p>
						<p>San Diego, CA</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/anna_profile_pic_small.png">
					<div class="media-body">
						<h4>Anna Grant</h4>
						<p>SJD Insurance</p>
						<p>Portland, OR</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/rebecca_profile_pic_small.png">
					<div class="media-body">
						<h4>Rebecca Nichols</h4>
						<p>Vibrant Printers. LLC</p>
						<p>Holland, MI</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<div class="right-group">
						<button class="btn pull-left"><span class="icon icon-phone icon-flipped"></span></button>
						<button class="btn pull-right btn-email"><span class="icon icon-email"></span></button>
						<button class="btn pull-right"><span class="icon icon-chat-small"></span></button>
					</div>
					<img class="media-object pull-left" src="img/contact-list/ryan_profile_pic_small.png">
					<div class="media-body">
						<h4>Ryan James</h4>
						<p>RJ Design</p>
						<p>Pittsburgh, PA</p>
					</div>
				</li>
			</ul>
		</div>
	
    </ion-content>
</ion-view>
