<ion-view style="" view-title="" hide-back-button="true" class="sign-in">

    <ion-content class="has-header" overflow-scroll="true" padding="true">

        <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
        <div class="content">
            <div class="wrapper">
                <div class="logo">
                    <img class="logo-img" src="img/booked-2.png" alt="UI Deck Logo" />
                </div>
                <div class="card">
                    <form id="sign-in-form" class="input-group">
                        <p>Enter your email address below and we'll send you a link to reset your password.</p>
                        <input ng-model="email" class="form-control ion-email" required type="email" id="lostEmail"
                               placeholder="Email"/>
                        <button type="submit" class="btn btn-block"
                                ng-click="emailForm.$valid && reset()">
                             Reset Password
                        </button>
                    <div class="row" ng-show="emailSent">
                        <div class="col-xs-12">
                            <p class="email-success">An email is on its way to you. Follow the instructions to reset
                                your password.</p>
                        </div>
                    </div>
                        <a href="#/sign-in">Login</a> | <a href="#/create-account">Create An Account</a>
                    </form>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
