<ion-view style="" view-title="Gallery" hide-back-button="true" class="photo-grid">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="bar bar-standard bar-header-secondary">
			<form class="input-group">
				<div class="input-row">
					<span class="icon icon-search pull-left"></span>
					<input type="text" name="filter" class="pull-left" placeholder="Filter">
				</div>	
			</form>
		</div>
		<div class="content">
			<section id="photos">
				<img src="img/photo-grid/mountain.png" />
				<img src="img/photo-grid/trees.png" />
				<img src="img/photo-grid/building.png" />
				<img src="img/photo-grid/nails.png" />
				<img src="img/photo-grid/love.png" />
				<img src="img/photo-grid/boat.png" />
				<img src="img/photo-grid/bottles.png" />
				<img src="img/photo-grid/camping.png" />
				<img src="img/photo-grid/oranges.png" />
				<img src="img/photo-grid/food.png" />
				<img src="img/photo-grid/houses.png" />
				<img src="img/photo-grid/door.png" />
				<img src="img/photo-grid/mountain.png" />
				<img src="img/photo-grid/trees.png" />
				<img src="img/photo-grid/bottles.png" />			
			</section>
		</div>
	
    </ion-content>
</ion-view>
