<ion-view style="" view-title="Gallery" hide-back-button="true" class="photo-list">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="bar bar-standard bar-header-secondary">
			<form class="input-group">
				<div class="input-row">
					<span class="icon icon-search pull-left"></span>
					<input type="text" name="filter" class="pull-left" placeholder="Filter">
				</div>	
			</form>
		</div>
		<div class="content">
			<ul class="table-view">
				<li class="table-view-cell media">
					<img class="media-object pull-left" src="img/photo-list/mountain_small.png">
					<div class="media-body">
						<h4>Mountain View</h4>
						<h5>Taken 10.14.14</h5>
						<p>This shot was taken on our last day of vacation. We ...</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<img class="media-object pull-left" src="img/photo-list/trees_small.png">
					<div class="media-body">
						<h4>View from the Top</h4>
						<h5>Taken 10.14.14</h5>
						<p>We hiked up to the top of the tallest mountain. We ...</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<img class="media-object pull-left" src="img/photo-list/building_small.png">
					<div class="media-body">
						<h4>Downtown</h4>
						<h5>Taken 10.12.14</h5>
						<p>The downtown area was quaint and peacefull.</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<img class="media-object pull-left" src="img/photo-list/nails_small.png">
					<div class="media-body">
						<h4>Anna's Nails</h4>
						<h5>Taken 10.14.14</h5>
						<p>Anna's nails -- so good they had to be documented.</p>
					</div>
				</li>
				<li class="table-view-cell media">
					<img class="media-object pull-left" src="img/photo-list/love_small.png">
					<div class="media-body">
						<h4>Love Bracelet</h4>
						<h5>Taken 10.14.14</h5>
						<p>Note to self: Remember to buy this for Jen's birthday.</p>
					</div>
				</li>
			</ul>
		</div>
	
    </ion-content>
</ion-view>
