<ion-view style="" view-title="Product Detail" hide-back-button="true" class="product">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="content">
			<div id="big-image">
				<img src="img/product/pencils_big.png" alt="">
			</div>
			<section id="photos">
				<img src="img/product/thumbnail_1.png" alt="">
				<img src="img/product/thumbnail_2.png" alt="">
				<img src="img/product/thumbnail_3.png" alt="">
				<img src="img/product/thumbnail_4.png" alt="">			
			</section>
			<div id="product-detail">
				<ul class="table-view no-border no-margin">
					<li class="table-view-cell media">
						<div class="right-group">
							<button class="btn pull-right"><span class="icon icon-hearth-small"></span></button>
						</div>
						<a class="navigate-right" href="#">
							<div class="media-body">
								<h3>Colored Pencil Mega Pack</h3>
								<h4>$28.00</h4>
								<p>Lorem ipsum Dolore labore esse sit ex sunt magna anim fugiat elit cillum consequat consequat culpa amet enim Excepteur.</p>
							</div>
						</a>
					</li>
				</ul>
				<form class="text-center">
					<button class="btn btn-outlined btn-primary">BUY NOW</button>
				</form>
			</div>
		</div>
	
    </ion-content>
</ion-view>