<ion-view style="" view-title="Profile" hide-back-button="true" class="profile">

    <ion-content class="has-header" overflow-scroll="true" padding="true">

		<div class="content">
			<div class="head-profile">
				<ul class="table-view">
					<li class="table-view-cell media text-center">
						<div class="user-photo-frame">
							<img src="img/profile/user_photo.png" class="user-photo" alt=""/>
						</div>
						<h4>Marissa Kennedy</h4>
						<a href="#" class="btn btn-outlined">FOLLOW</a>
					</li>
					<li class="table-view-cell media text-center no-padding backdrop-background">
						<section class="social-panel">
							<div class="social-info backdrop-background-6">
								<h3>481</h3>
								<p>followers</p>
							</div>
							<div class="social-info backdrop-background-5">
								<h3>96</h3>
								<p>photos</p>
							</div>
							<div class="social-info backdrop-background-4">
								<h3>391</h3>
								<p>comments</p>
							</div>
							<div class="social-info">
								<h3>82</h3>
								<p>favorites</p>
							</div>
						</section>
					</li>
				</ul>
			</div>
			<section id="photos">
				<img src="img/profile/people.png" />
				<img src="img/profile/puppy.png" />
				<img src="img/profile/white-pup.png" />
				<img src="img/profile/on_a_boat.png" />
				<img src="img/profile/dog.png" />
				<img src="img/profile/in-nature.png" />
				<img src="img/profile/hat.png" />
				<img src="img/profile/forest.png" />
				<img src="img/profile/drinks.png" />
				<img src="img/profile/drinking.png" />
				<img src="img/profile/leaf.png" />
				<img src="img/profile/strawberries.png" />
			</section>
		</div>
	
    </ion-content>
</ion-view>