<ion-view style="" view-title="Search List" hide-back-button="true" class="search-list">

    <ion-content class="has-header" overflow-scroll="true" padding="true">

		<div class="bar bar-standard bar-header-secondary">
      <form class="input-group" ng-submit="vm.search()">
				<div class="input-row">
					<span class="icon icon-search pull-left"></span>
          <input type="text" placeholder="Chief's Barbershop" ng-model="vm.query.term"
                 g-places-autocomplete options="autocompleteOptions">
				</div>
			</form>
		</div>
		<div class="content">
			<div class="bar-button">
				<button class="btn btn-primary">
					<span class="icon icon-list"></span>
				</button>
				<button class="btn btn-primary btn-outlined">
					<span class="icon icon-grid"></span>
				</button>
			</div>
			<ul class="table-view">
				<li class="table-view-cell media">
          <search-result></search-result>
				</li>
			</ul>
		</div>

    </ion-content>
</ion-view>
