<ion-view style="" view-title="Search Grid" hide-back-button="true" class="search-grid">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="bar bar-standard bar-header-secondary">
			<form class="input-group">
				<div class="input-row">
					<span class="icon icon-search pull-left"></span>
					<input type="text" name="filter" class="pull-left" placeholder="Search">
				</div>	
			</form>
		</div>
		<div class="content">
			<div class="bar-button">
				<button class="btn btn-primary btn-outlined">
					<span class="icon icon-pin"></span>
				</button>
				<button class="btn btn-primary btn-outlined">
					<span class="icon icon-list"></span>
				</button>
				<button class="btn btn-primary">
					<span class="icon icon-grid"></span>
				</button>
			</div>
			<div id="two-columns" class="grid-container" style="display:block;">
				<ul class="rig col-2">
					<li>
						<img src="img/search-grid/grand_house.png" />
						<h4>
							<a href="#">The Grand House</a>
						</h4>
						<h5>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star"></span>
						</h5>
					</li>
					<li>
						<img src="img/search-grid/valleywag.png" />
						<h4>
							<a href="#">Valleywag Rock Ho...</a>
						</h4>
						<h5>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star"></span>
						</h5>
					</li>
					<li>
						<img src="img/search-grid/julian.png" />
						<h4>
							<a href="#">Julian's Bungalow</a>
						</h4>
						<h5>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star"></span>
							<span class="icon icon-star"></span>
						</h5>
					</li>
					<li>
						<img src="img/search-grid/beachside.png" />
						<h4>
							<a href="#">The Beachside View</a>
						</h4>
						<h5>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star"></span>
						</h5>
					</li>
					<li>
						<img src="img/search-grid/sur_la_mer.png" />
						<h4>
							<a href="#">Sur la Mer Hotel</a>
						</h4>
						<h5>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star"></span>
						</h5>
					</li>
					<li>
						<img src="img/search-grid/hidden_retreat.png" />
						<h4>
							<a href="#">Hidden Retreat Lodge</a>
						</h4>
						<h5>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star-filled"></span>
							<span class="icon icon-star"></span>
						</h5>
					</li>
				</ul>
			</div>
		</div>
	
    </ion-content>
</ion-view>
