<ion-view style="" view-title="Search List" hide-back-button="true" class="search-list">

  <ion-content class="has-header" overflow-scroll="true" padding="true">

    <div class="bar bar-standard bar-header-secondary">
      <form class="input-group" ng-submit="vm.search()">
        <div class="input-row">
          <span class="icon icon-search pull-left"></span>
          <input type="text" placeholder="Chief Barbershop" ng-model="vm.query.term"
                 g-places-autocomplete options="autocompleteOptions">
        </div>
      </form>
      <form class="input-group" ng-submit="vm.search()">
        <div class="input-row">
          <span class="icon ion-ios-location pull-left" ng-if="!fetchingLocation"></span>
          <ion-spinner icon="dots" ng-if="fetchingLocation"></ion-spinner>
          <input type="text" ng-model="vm.query.location"
                 g-places-autocomplete options="autocompleteOptions">
        </div>
      </form>
    </div>
    <div class="content">
      <!--<div class="bar-button">-->
      <!--<button class="btn btn-primary">-->
      <!--<span class="icon icon-list"></span>-->
      <!--</button>-->
      <!--<button class="btn btn-primary btn-outlined">-->
      <!--<span class="icon icon-grid"></span>-->
      <!--</button>-->
      <!--</div>-->
      <ul class="table-view">
        <li ng-show="!vm.locations.length && !vm.loading"><h4 class="empty-list text-center">Go ahead, try searching for
          businesses.</h4></li>
        <li class="table-view-cell media" ng-repeat="location in vm.locations">
          <!--TODO GET IMAGES FOR THE BUSINESS-->
          <!--<img  ng-src="{{location.image}}">-->
          <span ng-if="location.photos.length > 0" ng-repeat="photo in location.photos">
              <img class="media-object pull-left"
                   ng-src="https://maps.googleapis.com/maps/api/place/photo?minwidth=150&maxwidth=150&minheight=150&maxheight=150&photoreference={{photo.photo_reference}}&key=AIzaSyAK1BOzJxHB8pOFmPFufYdcVdAuLr_6z2U">
          </span>
          <img ng-if="!location.photos" ng-src="{{location.icon}}"
               uib-tooltip="Photos coming soon..." tooltip-placement="right"
               style="border-radius:20%">

          <div class="media-body text-center" ui-sref="app.business({businessid:location.place_id})">
            <h3><a>{{location.name}}</a></h3>
            <h5 ng-if="!business.rating">This Business has not been rated yet.</h5>
            <h5><i class="icon ion-ios-location"></i> {{location.formatted_address}}</h5>
            <h5>{{location.formatted_phone_number}}</h5>
          </div>
          <table class="media-foot">
            <tr>
              <td>
                <a ng-href="tel:{{location.international_phone_number}}">
                  <button class="btn btn-default btn-block">
                    <span class="icon icon-mobile"></span> Call
                  </button>
                </a>
              </td>
              <td>
                <button class="btn btn-default btn-block" ui-sref="app.business({businessid:location.place_id})">
                  <span class="icon icon-bell"></span> Book
                </button>
              </td>
              <td>
                <button class="btn btn-default btn-block">
                  <span class="icon icon-plus-rounded"></span> Save
                </button>
              </td>
            </tr>
          </table>
        </li>
      </ul>
      <div class="image-container">
        <img ng-show="vm.loading" src="img/spin.svg">
      </div>
    </div>

  </ion-content>
</ion-view>
