<ion-view style="" view-title="Shop List" hide-back-button="true" class="shop-list">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="content">
			<ul class="table-view">
				<li class="table-view-cell media">
					<div class="right-group">
						<a class="icon icon-plus-rounded pull-left"></a>
						<a class="icon icon-hearth pull-right"></a>
					</div>
					<img class="media-object pull-left" src="img/shop-list/interlocking_pencils.png">
					<div class="media-body">
						<h4>24-Piece Colored Pencil Set</h4>
						<p>ColorKiddos USA</p>
					</div>
				</li>
				<li class="table-view-cell media">
						<div class="right-group">
							<a class="icon icon-plus-rounded pull-left"></a>
							<a class="icon icon-hearth pull-right"></a>
						</div>
						<img class="media-object pull-left" src="img/shop-list/pencils_circle.png">
						<div class="media-body">
							<h4>36-Piece Colored Pencil Set</h4>
							<p>ColorKiddos USA</p>
						</div>
				</li>
				<li class="table-view-cell media">
						<div class="right-group">
							<a class="icon icon-plus-rounded pull-left"></a>
							<a class="icon icon-hearth pull-right"></a>
						</div>
						<img class="media-object pull-left" src="img/shop-list/zigzag_pencils.png">
						<div class="media-body">
							<h4>48-Piece Colored Pencil Set</h4>
							<p>ColorKiddos USA</p>
						</div>
				</li>
				<li class="table-view-cell media">
						<div class="right-group">
							<a class="icon icon-plus-rounded pull-left"></a>
							<a class="icon icon-hearth pull-right"></a>
						</div>
						<img class="media-object pull-left" src="img/shop-list/markers_top_view.png">
						<div class="media-body">
							<h4>124 Washable Marker Set</h4>
							<p>Mark-It-Up Co.</p>
						</div>
				</li>
				<li class="table-view-cell media">
						<div class="right-group">
							<a class="icon icon-plus-rounded pull-left"></a>
							<a class="icon icon-hearth pull-right"></a>
						</div>
						<img class="media-object pull-left" src="img/shop-list/marker_color_rows.png">
						<div class="media-body">
							<h4>48 Scented Non-Toxic Markers</h4>
							<p>ColorFun Arts</p>
						</div>
				</li>
				<li class="table-view-cell media">
						<div class="right-group">
							<a class="icon icon-plus-rounded pull-left"></a>
							<a class="icon icon-hearth pull-right"></a>
						</div>
						<img class="media-object pull-left" src="img/shop-list/highlighers_photo.png">
						<div class="media-body">
							<h4>3 Non-Toxic Mini Highlighters</h4>
							<p>ColorFun Arts</p>
						</div>
				</li>
				<li class="table-view-cell media">
						<div class="right-group">
							<a class="icon icon-plus-rounded pull-left"></a>
							<a class="icon icon-hearth pull-right"></a>
						</div>
						<img class="media-object pull-left" src="img/shop-list/glitter_photo.png">
						<div class="media-body">
							<h4>8-Pack of 1-oz. Glitter Tubs</h4>
							<p>ColorFun Arts</p>
						</div>
				</li>
			</ul>
		</div>
	
    </ion-content>
</ion-view>