<ion-view style="" view-title="" hide-back-button="true" class="sign-in">

    <ion-content class="has-header" overflow-scroll="true" padding="true">

		<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
		<div class="content">
			<div class="wrapper">
				<div class="logo">
					<img class="logo-img" src="img/booked-2.png" alt="UI Deck Logo" />
				</div>
				<div class="card">
					<form id="sign-in-form" class="input-group">
						<input type="text" class="icon-username" ng-model="user.username" name="email" placeholder="email">
						<input type="password" class="icon-password" ng-model="user.password" name="password" placeholder="password">
						<button class="btn btn-block" ng-click="doLogIn(user)">sign in</button>
						<a href="#/create-account">Create an Account</a> | <a href="#/lost-password">Lost Password?</a>
					</form>
				</div>
			</div>
			<nav class="bar bar-tab bar-footer bar-transparent">
				<div class="table-row-group">
					<div class="table-row">
						<div class="table-cell text-center">
							<small>
								<strong>SIGN IN WITH</strong>
							</small>
						</div>
					</div>
					<div class="table-row">
						<div class="table-cell text-center">
							<a class="icon-facebook" ng-click="facebookLogin()">facebook</a>
						</div>
					</div>
				</div>
			</nav>
		</div>

    </ion-content>
</ion-view>
