<ion-view style="" view-title="To-Do List" hide-back-button="true" class="todo-list">

    <ion-content class="has-header" overflow-scroll="true" padding="true">
    
		<div class="bar bar-standard bar-header-secondary">
			<form class="input-group">
				<div class="input-row">
					<input type="text" name="new-item" class="pull-left" placeholder="Add New Item">
					<button type="button" name="btn-add" class="btn btn-primary pull-right">
						<span class="icon icon-plus"></span>
					</button>
				</div>	
			</form>
		</div>
		<div class="content">
			<ul class="table-view">
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-1" name="item[]" />
						<label for="chk-1"></label>
					</div>
					 Sprouted Grain Bread
					<span class="btn btn-outlined">GROCERY</span>
				</li>
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-2" name="item[]" />
						<label for="chk-2"></label>
					</div> Vanilla Almound Milk
					<span class="btn btn-outlined">GROCERY</span>
				</li>
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-3" name="item[]" />
						<label for="chk-3"></label>
					</div> Granola 
					<span class="btn btn-outlined">GROCERY</span>
				</li>
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-4" name="item[]" />
						<label for="chk-4"></label>
					</div> Pick up dry cleaning
					<span class="btn btn-outlined">ERRANDS</span>
				</li>
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-5" name="item[]" />
						<label for="chk-5"></label>
					</div> Clean kitty litter
					<span class="btn btn-outlined">CHORES</span>
				</li>
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-6" name="item[]" />
						<label for="chk-6"></label>
					</div> Win Lottery
					<span class="btn btn-outlined">DREAMS</span>
				</li>
				<li class="table-view-cell">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-7" name="item[]" />
						<label for="chk-7"></label>
					</div> Wash windows
					<span class="btn btn-outlined">CHORES</span>
				</li>
				<li class="table-view-cell checked">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-8" name="item[]" checked />
						<label for="chk-8"></label>
					</div> Call Mom
					<span class="btn btn-outlined">FAMILY</span>
				</li>
				<li class="table-view-cell checked">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-9" name="item[]" checked />
						<label for="chk-9"></label>
					</div> Mop floor
					<span class="btn btn-outlined">CHORES</span>
				</li>
				<li class="table-view-cell checked">
					<div class="square-checkbox">
						<input type="checkbox" value="" id="chk-10" name="item[]" checked />
						<label for="chk-10"></label>
					</div> Fix washing machine
					<span class="btn btn-outlined">CHORES</span>
				</li>
			</ul>
		</div>
		<div id="menu-popover" class="popover">
			<ul class="table-view">
				<li class="table-view-cell">Menu 1</li>
				<li class="table-view-cell">Menu 2</li>
				<li class="table-view-cell">Menu 3</li>
				<li class="table-view-cell">Menu 4</li>
			</ul>
		</div>
	
    </ion-content>
</ion-view>