.chat { font-family: 'Open Sans', sans-serif; }
.chat .bar{ border-bottom: 0px; }
.chat .title, .bar-nav>a{ color: #fff; text-transform: uppercase;}
.chat .bar-block{ background-color: #333333; padding: 0px; height: 48px !important;}
.chat .bar-block a.icon{ color: #bbb; font-size: 22px !important; top: 0px !important; }
.chat .bar-block > .btn-block{ background-color: #333333 !important; border-color: #333333; border-radius: 0px; margin-bottom: 2px; }
.chat .btn-block > a > span{ font-family: 'Open Sans', sans-serif; font-size: 14px; word-spacing: .5px; display: inline-block; position: relative; top: -5px;}
.chat .bar-footer{ height: 52px !important; padding: 8px;}
.chat .blue-nav{ background-color: #3481b3;}
.chat .blue-nav>span>a{ color: #fff; margin-left: 7px;}
.chat .input-row{ height: 37px !important; background-color: #ddd; border-bottom-color: #fff;}
.chat .input-row input{ height: 37px !important; float: left !important; font-size: 14px !important; font-style: italic; padding-left: 10px; padding-right: 39px; width: 100%;}
.chat .input-group > .btn, .input-group > span.icon{ top: 8px !important; border-color: #fff; border-radius: 0; padding: 0 12px; } 
.chat .table-view{ border-top: none; margin-bottom: 0px !important; margin-top: 0px !important;}
.chat .table-view-cell{padding-right: 15px !important; padding-left: 10px !important; border-bottom-color: #eee !important;}
.chat .table-view-cell > img{max-width: 71px;}
.chat .own-box{border-left: 5px solid #2c7fb5;}
.chat .guest-box{border-left: 5px solid #1ca522;}
.chat .time-name{height: 17px;}
.chat .chat-time{ color: #9e9e9e; text-transform: uppercase; font-size: 10px; font-weight: bold;}
.chat .media{ font-family: 'PT Sans', sans-serif;}
.chat .media-body .own-name{ color: #2c7fb5; font-size: 12px; font-weight: bold;}
.chat .media-body .guest-name{ color: #1ca522; font-size: 12px; font-weight: bold;}
.chat li > div.media-body { margin-left: 91px; }
.chat div.media-body > p{ color: #000; font-size: 14px; margin-top: 10px;}
.chat .icon-right-tight-arrow{ top: 0px !important; color: #ddd; font-size: 24px; font-weight: bold;}
.chat .input-group { width: 100%; }
.chat .bar-header-secondary { top: 0; }
.chat .content { padding-top: 52px; }
