.favorites {
  background-color: rgba(232, 232, 232, 0.51);
}

.favorites .scroll-content .scroll,
.favorites .bookmarks-container {
    height: 100%;
}

.favorites .empty-results {
    text-align: center;
}

.favorites .empty-results .icon {
    font-size: 170px;
    color: white;
}

.favorites .empty-results .no-bookmarks {
    color: #d1d1d1;
    font-size: 22px;
}

.favorites .bookmarks-list {
    overflow-y: scroll;
    height: 100%;
}

.favorites .bookmarks-list::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
}

.favorites .bookmark-item {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(30, 30, 30, 0.2);
    margin: 0px 16px;
}

.favorites .bookmark-item * {
    text-decoration: none;
    color: #444444;
}

.favorites .bookmark-item .post-title {
    margin: 0px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
}

.favorites .bookmark-item .post-date {
    margin: 0px;
    font-size: 12px;
    font-weight: 200;
    color: rgba(94, 94, 94, 0.7);
}

.favorites .bookmark-item .post-time {
    color: rgba(43, 43, 43, 0.9);
}
